{% extends 'home/template.html.twig' %}

{% block title %}Hello AnnoucementController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Ajout d'annonce
		</h1>

		{{ form_start(form) }}
		{#{% for annoucement in annoucements %}
																																																																																																																																																																																																																																																																																																																{{ form_row(annoucement.fourht) }}
																																																																																																																																																																																																																																																																																																																{% endfor %}#}
		{#{{ form_row(form.Image) }}#}
		{{ form_end(form) }}
			<div class="col-3"> <div class="card" style="width: 18rem;"></div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		// window.onload = () => { // On va chercher la région
let region = document.querySelector("#add_annoucement_regions");
let departement = document.querySelector("#add_annoucement_departement_id");

region.addEventListener("change", function () {

let form = this.closest("form");
let data = this.name + "=" + this.value;

fetch(form.action, {
method: form.getAttribute("method"),
body: data,
headers: {
"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
}
}).then(response => response.text()).then((html) => {
let content = document.createElement("html");
content.innerHTML = html;
let nouveauSelect = content.querySelector("#add_annoucement_departement_id");
document.querySelector("#add_annoucement_departement_id").replaceWith(nouveauSelect);
})

});

console.log(departement);

region.addEventListener("change", function () {

let form = this.closest("form");
let data = this.name + "=" + this.value;

fetch(form.action, {
method: form.getAttribute("method"),
body: data,
headers: {
"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
}
}).then(response => response.text()).then((html) => {
let content = document.createElement("html");
content.innerHTML = html;
let nouveauSelect = content.querySelector("#add_annoucement_villesfrance_id");
document.querySelector("#add_annoucement_villesfrance_id").replaceWith(nouveauSelect);
})

});


// }
	</script>
{% endblock %}
